<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Nalula</title>
    <link rel="shortcut icon" href="../assets/isologo.svg">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
    <header class="cabecera">
        <div class="contenedor">
            <div class="iconos">
                <i class="bi bi-list"></i>
            </div>
    
            <div class="logo">
                <img src="../assets/logo-blanco.svg" alt="">
            </div>
    
            <div class="iconos">
                <i class="bi bi-person-circle"></i>
                <i class="bi bi-cart2"></i>
            </div>
        </div>

        <div class="custom-shape-divider-bottom-1674860981">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
            </svg>
        </div>
    </header>

    <main class="principal">
        <div class="busqueda">
            <p>¿Qué estás buscando?</p>
            <i class="bi bi-search"></i>
        </div>

        <div class="hero-banner">
            
        </div>

        <div class="info">
            <div class="icono">
                <i class="bi bi-box-seam"></i>
            </div>

            <div class="texto">
                <h5>ENVÍOS A TODO EL PAÍS</h5>
                <p>¡No te muevas de tu casa!</p>
            </div>
        </div>

        <section class="muestrario">
            <h3>Productos destacados</h3>
            
            <div class="productos">
                <article class="product">
                    <div class="product-imagen">
                        <img src="../assets/TARJETAS3.jpg" alt="tarjetas personales">
                    </div>
                        
                    <div class="product-info">
                        <p>Tarjetas personales x100u</p>
                        <h1>$1260</h1>
                    </div>
    
                    <div class="product-boton">
                        <button class="boton1">AGREGAR AL<br>CARRITO</button>
                        <button class="boton2"><i class="bi bi-eye"></i></button>
                    </div>
                </article>
    
                <article class="product">
                    <div class="product-imagen">
                        <img src="../assets/1agenda cuadrado CHICA.png" alt="tarjetas personales">
                    </div>
                        
                    <div class="product-info">
                        <p>Agenda semana a la vista</p>
                        <h1>$3850</h1>
                    </div>
    
                    <div class="product-boton">
                        <button class="boton1">AGREGAR AL<br>CARRITO</button>
                        <button class="boton2"><i class="bi bi-eye"></i></button>
                    </div>
                </article>

                <article class="product">
                    <div class="product-imagen">
                        <img src="../assets/Presentación1.jpg" alt="tarjetas personales">
                    </div>
                        
                    <div class="product-info">
                        <p>Diseño de Identidad Visual</p>
                        <h1>$15000</h1>
                    </div>
    
                    <div class="product-boton">
                        <button class="boton1">AGREGAR AL<br>CARRITO</button>
                        <button class="boton2"><i class="bi bi-eye"></i></button>
                    </div>
                </article>

                <article class="product">
                    <div class="product-imagen">
                        <img src="../assets/ETIQUETAS FIESTAS - copia.jpg" alt="tarjetas personales">
                    </div>
                        
                    <div class="product-info">
                        <p>Etiquetas 5x8cm x100u</p>
                        <h1>$1520</h1>
                    </div>
    
                    <div class="product-boton">
                        <button class="boton1">AGREGAR AL<br>CARRITO</button>
                        <button class="boton2"><i class="bi bi-eye"></i></button>
                    </div>
                </article>
            </div>
            
        </section>
    </main>

    <footer>
        <div class="contacto">
            <h4>Contáctanos</h4>
            <a href=""><i class="bi bi-whatsapp"></i>  03451-2364165</a>
            <a href=""><i class="bi bi-envelope"></i>  nalulacreaciones@gmail.com</a>
        </div>

        <div class="sigamos-conectados">
            <h4>Sigamos conectados</h4>
            <ul class="rrss">
               <li><a href=""><i class="bi bi-facebook"></i></a></li>
               <li><a href=""><i class="bi bi-instagram"></i></a></li>
               <li><a href=""><i class="bi bi-linkedin"></i></a></li> 
            </ul>
        </div>

        <div class="copy">
            <p>Copyrights - 2023</p>
            <p>Todos los derechos reservados.</p>
        </div>
    </footer>
    
</body>
</html>